<nav class="navbar navbar-expand-md navbar-light" style="background-color:rgba(20, 18, 20, 0.726); ">
    <div class="container-fluid">
        <div id="main">
            <button class="openbtn" onclick="openNav()" >☰ </button>
        </div>
        <a class="navbar-brand" href="#">
            <img href="#" src="../../assets/images/logo1.png"  alt="..." width="170" height="100" style="width: 150px; height: 30px; object-fit: cover;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="example"  style="margin:auto;max-width:500px">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <a href="#" class="nav-link  ml-5 "><i class="fa fa-bell" style="font-size:32px;color: orangered"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link  ml-5"><i class="fa fa-user-circle" style="font-size:32px;color: orangered"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a><br>
    <br><a href="/viewdesignerprofile"><i class="fa fa-user-circle">&nbsp;</i> My Profile</a><br>
    <a href=""><i class="fa fa-folder-open">&nbsp;</i> My Design</a><br>
    <a href="/upload-design"><i class="fa fa-pencil-square-o">&nbsp;</i> Add Design</a><br>
    <a href="/home"><i class="fa fa-power-off">&nbsp;</i> Logout</a>
</div>


