
.total{
  background-color: rgb(191, 188, 188);
  height: 640px;;
  
}
  .full-width{
    margin-right: 200px;
  }
  .container{
    background-color: rgb(191, 188, 188);
      height: 90%;
      text-align: center;
      width: 900px;
    
  }
  .btn{
    text-align: center;
    background-color: orangered;
    display: table-cell;
        width: 100px;
        border-radius: 10px;
        margin-left: 80px;
        margin-top: 8px;
  }
  .btn:hover{
      border-color:red;
      transition: .5s;
  }
  .form{
    background-color: aliceblue;
  }
  .container{
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width:400px;
    background-color:aliceblue;
    border-radius: 10px;
    height: 400px;
  }
  .card{
    background-color: aliceblue;
  }
  form .mb-3{
      position: relative;
      border-bottom: 2px solid black;
      margin: 10px 0;
      margin-left: 30px;
    }
    .mb-3 input{
        margin-left: 10px;
      width: 100%;
      padding: 0 5px;
      height: 20px;
      font-size: 16px;
      background: none;
      outline: none;
      text-align: center;
    }
    .mb-3 label{
      left: 16px;
      color:black;
      font-size: 14px;
      pointer-events: none;
      transition: .5s;
      margin-left: 10px;
    }
    .mb-3 span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: black;
      transition: .5s;
    }